
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');



.quick-sand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.body{
    background-image: url("../assets/bg.png");
}


/* shared styles */
.display-flex{
    display: flex;


}
/* header styles */

/* navbar related styles */
.navbar{
justify-content: space-between;
align-items: center;
}

.brand{
    font-weight: 700;
margin: 10px;
    font-size: 2rem;
}

.nav-item{
    list-style: none;
    margin: 30px;
}


.nav-link{

text-decoration: none;
}

.navbar, .banner{
    max-width: 675px;
    margin: 0 auto;
}
